* {
  box-sizing: border-box;
}

ul {
  padding: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;

}

.content-container {
  width: 1224px;
  height: auto;


}

.nav-header {
  background-color: #FFF;
  width: 100%;
  height: 100px;
  position: relative;

}

.nav-header > a {
  color: #545454;
  padding: 10px 10px 10px 10px;
  position: relative;
  left: 150px;
  top: 20px;

}

.nav-header > i {
  color: #AAAAAA;
  width: 0px;
  height: 0;
  border: 2px solid #AAA;
  padding: 10px 10px 10px 10px;
  position: relative;
  left: 850px;
  top: 20px;
}

.article-list {
  
}
