* {
  box-sizing: border-box;
  font-size: 62.5%;
  font-variant: all-small-caps;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;

}

body {
  background-color: #F4F4F4;
  font-family: 'Lato', sans-serif;
}

h2 {
  text-align: center;
}

.nav-header a:hover {
  color: #DC4F37;

}

.nav-header i:hover {
  color: #DC4F37;
}


.nav-header {
  font-size: 1.7rem;
  letter-spacing: .125rem;
  font-weight: lighter;
  background-color: #F8F8F8;
  margin-bottom: 25px;
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #E7E7E7;
  position: relative;

}

.nav-links a {
  font-size: 1.7rem;
  color: #545454;
  padding: 5px 5px;
  position: relative;
  left: 140px;
  top: 19px;
}

/* .nav-header a {
  color: #545454;
  padding: 5px 5px;
  position: relative;
  left: 140px;
  top: 19px;

} */

.nav-icons a {
  color: #545454;
  padding: 5px 5px;
  position: relative;
  left: 140px;
  top: 19px;
}

.nav-icons {

  color: #BDBDBD;
  padding: 15px 15px;
  position: relative;
  left: 1040px;
  bottom: 29px;


}

.nav-header i {
  font-size: 1.2rem;
  color: #BDBDBD;
}

.article-list {
  display: inline-block;
  width: 75rem;
  margin-left: 15rem;
  margin-top: 30px;
  margin-right: 15px;

}

.article-preview {
  width: 100%;
  text-align: center;
  background-color: white;
  margin-bottom: 5rem;

}

.article-preview img {
  width: 100%;
  height: 475px;
  margin-bottom: 40px;
}

.preview-labels {
  font-size: 1.6rem;
  color: #DE5F42;
  letter-spacing: 1.5px;
  font-weight: normal;


}

h1 {
  margin: auto;
  font-size: 3.6rem;
  font-weight: bold;
  font-family: 'Oswald', sans-serif;

}

.preview-descript {
  text-align: left;
  padding: 10px 40px;
  font-size: 1.5rem;
  line-height: 2.5rem;
  font-family: 'Lato', sans-serif;
  font-variant: normal;
  font-weight: lighter;

}

.article-preview button:hover {
  color: white;
  background-color: #DC4F37;

}

.continue-buttons {
  color: #DE5F42;
  background-color: white;
  border: 1px solid #DE5F42;
  padding: 10px 25px 10px 25px  ;
  margin: 10px auto;
  font-size: 1.75rem;

}

.preview-footers i:hover {
  color: #DC4F37;

}

.preview-footers {
  padding: 35px;
  position: relative;
}

.preview-footers i {
  color: #BDBDBD;
  margin: 10px 10px;
  font-size: 1.6rem;
  position: relative;
  bottom: 35px;
  left: 295px;
}

.sidebar {
  font-family: 'Lato', sans-serif;
  display: inline-block;
  width: 36rem;
  margin-left: 15px;
  vertical-align: top;



}

.sidebar-items li {
  background-color: white;
  margin-bottom: 40px;


}

.icon-container span:hover {
  background-color: #DC4F37
  color: white;
}

.bio-card {
  text-align: center;
  position: relative;
  margin-top: 30px;

}

.bio-img {
  width: 100%;
}

.portrait {
  width: 50%;
  border: white solid 6px;
  border-radius: 50%;
  position: absolute;
  right: 90px; top: 100px;
}

.bio-text h2 {
  font-family: 'Oswald', sans-serif;
  padding: 0px 15px;
  margin-top: 0;
  font-size: 2.8rem;
}
.bio-text {
  font-family: 'oswald', sans-serif;
  padding: 100px 35px;
  font-size: 3.5rem;
  line-height: 3rem;
}

.bio-card span:hover {
  color: white;
  background-color: #DC4F37;
}

.bio-card span {
  width: 25px;
  font-size: 1.3rem;
  color: #AAA;
  padding: 5px 5px;
  margin-left: 6px;
  margin-right: 6px;
  position: relative;
  bottom: 83px;
  right: 6px;
  border: solid 1px #E2E2E2;
  border-radius: 50%;
}

h2 {
  font-size: 2.7rem;
  font-family: 'oswald', sans-serif;
  padding-top: 10px;
  padding-bottom: 10px;

}

h3 {
  font-size: 2.1rem;
  font-family: 'oswald', sans-serif;
  margin: 10px 0px;
}

time {
  display: block;
  font-weight: 400;
  color: #A9A9A9;
  font-size: 1.6rem;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
}

.popular-posts {
  padding: 20px 30px;
}

.popular-posts img {
  width: 300px;
  height: 200px;
  margin-top: 10px;

}

.popular-posts hr {
  display: block;
}

.latest-posts {
  /* margin-right: 35px;
  padding-right: 35px; */
  padding: 20px 30px;
}

.latest-posts h3 {
  margin-top: 0px;

}

.latest-posts hr {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}

.image-div {
   width: 100px;
   height: 75px;
   display: inline-block;
}

.text-div {
  display: inline-block;
  vertical-align: top;
}

.latest-posts img {
  width: 100px;
  height: 75px;
  padding-right: 20px;

}

.img-links figure {
  background-color: rgb(220,79,55);
  width: 150px;
  height: 150px;
  margin-bottom: 10px;
  margin-right: 6px;
  margin-left: 2px;
  display: inline-block;

}

.img-links figure:hover img {
  opacity: 0.4;
}


.feed img  {
  width: 150px;
  height: 150px;
  margin-bottom: 10px;
  margin-right: 10px;


}

.feed {
    padding-left: 25px;
}

.footer {
  width: 100%;
  font-size: 0px;
}

.footer img {
  width: 180px;
  height: 190px;
}
