* {
  box-sizing: border-box;

}

ul {
  padding: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;

}

body {
  background-color: #F4F4F4;
}

.nav-header {
  background-color: #FFF;
  width: 100%;
  height: 100px;
  position: relative;


}

.nav-header > a {
  color: #545454;
  padding: 10px 10px 10px 10px;
  position: relative;
  left: 150px;
  top: 20px;

}

.nav-header > i {
  color: #AAAAAA;
  padding: 10px 10px 10px 10px;
  position: relative;
  left: 850px;
  top: 20px;
  z-index: 20;
}

.article-list {
  display: inline-block;
  width: 40%;

}

.article-preview {
  
}
